:root {
    --bg-color: #333;
    --bg-color-alt: #353535;
    --color: #d3d3d3;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 100vw;
    height: 100vh;
    flex-basis: 1 auto;
}


main {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    width: 80vw;
    justify-content: center;
}

.big-board {
    flex: none;
}

.controlls {
    flex: 3 1 auto;
    width: fit-content;
    max-width: 20vw;
    background-color: #222;
    padding: 1rem;
}

#move-history  {
    height: 8em;
    overflow: scroll;
}

#move-history > p {
    margin: 0.5em;
}

#game-history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1em;
    margin: 1em;
}

#game-history > * {
    aspect-ratio: 1;
    background-color: var(--bg-color-alt);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-history > * > * {
    margin: 0.5rem;
}

.score {
    font-size: 1.5rem;
}